{% extends "teachers.html" %}
{% block body %}
<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <a class="nav-link"  href="/teacherdetails">Teachers Record</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/addteachers">Add New Teacher</a>
    </li>
   
  </ul>

  <div class="container mb-3 py-4">
    <h1 class="text-center">Add New Teacher</h1>
    <div class="form-group">
    <form method="post" action="{% url 'addteachers' %}">
        
          {% csrf_token %}
           

          {{form.as_p}}
    
            
    
           
        
            
            <button class="btn btn-primary my-3" type="submit">Submit</button>
        </form>
      </div>
      </div>







{% endblock body %}